.home {
    background-image: url("/img/home_img_01.jpg");
    background-size: cover;
    height: 100vh;
    .search {
        img {
        }
        p {
            font-size: 1.3rem;
            color: #fff;
            text-shadow: black 0.1em 0.1em 0.2em;
        }
        a {
            display: block;
            max-width: 300px;
            background-color: #59c1ff;
            margin: 10px;
            padding: 30px;
            border-radius: 50px;
            color: #fff;
            font-size: 1.5rem;
        }
        a:hover {
            background-color: #46d7e8;
            text-decoration: none;
        }
    }
}
.navbar {
    background-color: rgba(255, 255, 255, 0.7);
    height: 100px;
    img {
        width: 130px;
    }
    a {
        font-size: 1.2rem;
        color: rgb(129, 129, 129);
    }
    a:hover {
        color: #59c1ff;
        text-decoration: underline;
    }
}

.listing {
    font-size: 2rem;
    input {
        background: transparent;
        border: 0px;
        border-bottom: solid 3px #46d7e8;
    }
}
h1,
h2,
h3,
h4 {
    color: #46d7e8;
}
.house_h {
    text-transform: uppercase;
}
.button {
    background-color: #59c1ff;
    margin: 10px;
    padding: 30px;
    border-radius: 50px;
    color: #fff;
    font-size: 1.5rem;
    border: 0px;
}
button:hover {
    background-color: #46d7e8;
}

.modal-footer,
.register {
    .button {
        padding: 10px;
        font-size: 1.1rem;
    }
}

.footer {
    background: linear-gradient(#46d7e8, #4dffe0);
    p {
        color: #fff;
        font-size: 1.1rem;
    }
}

.layout {
    margin-top: 130px;
}

.list_item {
    background-size: cover;
    height: 300px;
    a {
        background: #fff;
        text-transform: uppercase;
        color: #46d7e8;
        font-size: 1.2rem;
    }
    a:hover {
        text-decoration: none;
        color: #59c1ff;
    }
}

.btn_location {
    background-color: #59c1ff;
    padding: 7px;
    border-radius: 20px;
    color: #fff;
    font-size: 0.8rem;
}
.btn_location:hover {
    background-color: #4dffe0;
    text-decoration: none;
    color: #fff;
}

.carousel-inner {
    max-height: 500px;
}

//how it works: Daniela
.number {
    p {
        background: #59c1ff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        color: #fff;
    }
}

.title {
    padding-top: 10px;
    padding-bottom: 15px;
    color: #59c1ff;
    font-weight: bold;
}

.subtitle {
    font-size: 35px;
    padding-top: 10px;
    padding-bottom: 15px;
    color: #59c1ff;
    font-weight: bold;
}

.background-how-it {
    background-image: url("/img/apartment-building.jpg");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 25px 30px !important;
}

.background-how-it:hover {
    opacity: 0.5;
}
